{% extends "index.html" %} {% load i18n bootstrap %} {% block headernav %}
<ul class="nav navbar-nav">
    <li><a href="index">Home</a></li>
    <li class="active"><a href="about">About</a></li>
    <!--<li><a href="questions">Questions</a></li>-->
    <li><a href="contacts">Contacts</a></li>
</ul>
{% endblock %} {% block carousel %}{% endblock %} {% block content %}
<div class="container">
    <h1>App list backup help</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#free">Free Version</a></li>
        <li><a data-toggle="tab" href="#pro">Pro Version</a></li>
        <li><a data-toggle="tab" href="#email">Email Version</a></li>
    </ul>
    <div class="tab-content">
        <div id="free" class="tab-pane fade in active">
            <h3>Backup</h3>
            <p>
                <ul>
                    <li>Open App List Backup.</li>
                    <li>Press “BACKUP”.</li>
                    <li>Check (i.e. tap) the apps you want to save. You can also use the “CHECK ALL” button for faster access.</li>
                    <li>Press the “SAVE” button at the top.</li>
                    <li>If both your old and new devices have an SD card, take out the SD card and do not delete the data on it. NOTE: Some devices (e.g. Samsung Galaxy S) have both an SD card and internal storage. In that case, the removable SD card will have priority; to be sure that you’re saving your backup correctly, check if the SD card has a folder named AppListBackup and if it doesn’t, copy it from your internal storage as described on the next line.</li>
                    <li>If one or both of your devices use internal storage, connect the old one to a computer and copy the AppListBackup folder from the device’s storage to your computer.</li>
                </ul>
            </p>
            <h3>Restore</h3>
            <p>
                <ul>
                    <li>If you copied an AppListBackup folder to your computer during the backup stage, now copy it directly onto the new device’s storage or SD card (at the root location, not under another folder).</li>
                    <li>Otherwise, put the SD card from the old device into the new device</li>
                    <li>Download and install App List Backup Google Play Store on your new device and open it.</li>
                    <li>Press “RESTORE”.</li>
                    <li>Tap on each app that you want to install. This takes you to Google Play Store to download and install the app. There is no bulk way to install multiple apps automatically, but you do NOT have to wait for each app to be downloaded and installed before proceeding to the next one.</li>
                    <li>If your list of apps doesn’t show up, make sure you’ve put in the same SD card or copied the AppListBackup folder to the root of the device’s storage location.</li>
                </ul>
            </p>
        </div>
        <div id="pro" class="tab-pane fade">
            <h3>Backup</h3>
            <p>
                <ul>
                    <li>Open App List Backup.</li>
                    <li>Press “BACKUP”.</li>
                    <li>Check (i.e. tap) the apps you want to save. You can also use the “CHECK ALL” button for faster access.</li>
                    <li>Press the “SAVE” button at the top.</li>
                    <li>Choose where to save the backup file</li>
                    <li>Press "Choose X"</li>
                </ul>
            </p>
            <h3>Restore</h3>
            <p>
                <ul>
                    <li>Put the SD card from the old device into the new device or copy the backup file into the new device</li>
                    <li>Download and install App List Backup Google Play Store on your new device and open it.</li>
                    <li>Press “RESTORE”.</li>
                    <li>Choose the directory with your backup file</li>
                    <li>Press "Choose X"</li>
                    <li>Tap on each app that you want to install. This takes you to Google Play Store to download and install the app. There is no bulk way to install multiple apps automatically, but you do NOT have to wait for each app to be downloaded and installed before proceeding to the next one.</li>
                </ul>
            </p>
        </div>
        <div id="email" class="tab-pane fade">
            <h3>Backup</h3>
            <p>
                <ul>
                    <li>Open App List Backup.</li>
                    <li>Press “BACKUP”.</li>
                    <li>Check (i.e. tap) the apps you want to save. You can also use the “CHECK ALL” button for faster access.</li>
                    <li>Press the “SAVE” button at the top.</li>
                    <li>Press “Send encoded backup” or “Send text and links” in the message box that appears. Here’s what these mean:
                        <ul>
                            <li>Text and links: This is the easier option; use it if you want to get a plain-text human-readable list of your apps, along with links to Google Play Store for each app. Using this option, you can restore just by clicking those links in your email, without even having to install App List Backup via Email on the new device; furthermore, with this option you can also restore your apps directly from a computer.</li>
                            <li>Encoded backup: Use this option if you want to be able to restore your apps using App List Backup via Email’s interface on your new device. You’ll get some gibberish text in your email that you will need to paste back into App List Backup via Email when restoring. The advantage of this method is that as you restore your apps, App List Backup via Email will show you which apps are already installed and will also provide an easier interface for opening each app in Google Play Store.</li>
                        </ul>
                    </li>
                    <li>You will be presented with a choice of messaging applications; pick your email application (e.g. Gmail).</li>
                    <li>Put your own email in the “To” field and send the email. DO NOT modify the content (i.e. body) of the email message in any way. It will look like gibberish – this is normal. (Note for geeks: the app list is base64-encoded; you can view it in human-readable form by using an online base64-decode service.)</li>
                    <li>(Optional) Test the backup by following the restore steps belowbefore wiping/resetting your old device.</li>
                </ul>
            </p>
            <h3>Restore</h3>
            <p>
                <ul>
                    <li>If you used the plain-text option when creating your backup, just click on the links from the email you sent yourself and install your apps one by one from Google Play Store. That’s it. If you used the “encoded backup” option, follow the rest of the steps below.</li>
                    <li>Download and install App List Backup via Email from Google Play Store on your new device.</li>
                    <li>Open your email app and find the email that you sent to yourself in the backup stage; open it and copy the entire body of the message (usually, you do that by tapping-and-holding on the body of the email, then selecting the Copy icon or menu item); make sure all the gibberish-looking text is selected and copied. If you miss just 1 character the restore process won’t work.</li>
                    <li>Open App List Backup via Email and press “RESTORE”.</li>
                    <li>Paste the gibberish text that you just copied from the email and press “DONE”</li>
                    <li>Now you should see your backed-up list of apps. Tap on each app that you want to install. This takes you to Google Play Store to download and install the app. There is no bulk way to install multiple apps automatically, but you do NOT have to wait for each app to be downloaded and installed before proceeding to the next one.</li>
                    <li>If your list of apps doesn’t show up, make sure you’ve correctly copied and pasted the entire body of the email message (without the From/To fields, just the body). You can usually use a “Select All” button first, then copy, to ensure you’ve selected the entire body of the email.</li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}

