{% extends "index.html" %}
{% load i18n bootstrap %}
{% block headernav %}
<ul class="nav navbar-nav">
    <li><a href="index">Home</a></li>
    <li><a href="about">About</a></li>
    <!--<li class="active"><a href="questions">Questions</a></li>-->
    <li><a href="contacts">Contacts</a></li>
</ul>
{% endblock %}
{% block carousel %}{% endblock %}
{% block content %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        Cancelled donation. Leave your feedback please. It is important for us.
    </div>
</div>
{% endblock %}