{% extends "index.html" %}
{% load i18n bootstrap %}
{% block headernav %}
{% load staticfiles %}
<ul class="nav navbar-nav">
    <li><a href="index">Home</a></li>
    <li><a href="about">About</a></li>
    <!--<li><a href="questions">Questions</a></li>-->
    <li class="active"><a href="contacts">Contacts</a></li>
</ul>
{% endblock %}
{% block carousel %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row moncho">
        <div class="col-md-2" align="middle">
            <p>
                </br>
                <img src="/media/Pfiffigsoft-logo.png" width="120px" height="120px">
            </p>
        </div>
        <div class="col-md-10 no-float">
            <p>

            <h3>Pfiffigsoft Ltd.</h3>
            <address>
                <strong></strong><br>
                <span class="glyphicon glyphicon-home"></span> Bulgaria, Sofia 1336<br>
                <span class="glyphicon glyphicon-earphone"></span> +359 883 38 60 62<br>
                <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:popov@pfiffigsoft.com">Simeon
                Popov</a>
            </address>
            </p>
            <a class="btn btn-lg btn-success" href="javascript://" role="button" id="modal-contact-btn">Write us now</a>
        </div>
    </div>
</div><!-- /.container -->

<div class="modal fade" id="contacts-modal" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: #eeeeee !important; width: 1000px;">
            <!--<div class="modal-header">-->
                <!-- -->
            <!--</div>-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container contact_form">
                            {% if ok == False %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endif %}
                            <form method='post' action="" enctype='multipart/form-data'>
                                <fieldset>
                                    {{ form|bootstrap }}
                                    {% comment %}{% for field in form %}
                                    {% if field.is_hidden %}
                                    {{ field }}
                                    {% else %}
                                    <label for='id_{{ field.name }}'>{% trans field.label %}</label>{% if not
                                    field.field.required
                                    %} <span
                                        class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}
                                    {{ field }}
                                    {% if field.errors %}
                                    <dd class='error'>{{ field.errors }}</dd>
                                    {% endif %}
                                    {% if field.help_text %}
                                    <dd class='form_help_text'>{% trans field.help_text %}</dd>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endcomment %}

                                    <div class='buttons form-group'>
                                        <input type='submit' class="btn btn-primary" value='Submit'/>
                                    </div>
                                </fieldset>

                                {% csrf_token %}
                            </form>

                        </div>
                    </div>
                    <!-- /.container -->
                </div>
            </div>
            <!--<div class="modal-footer" id="show-token-foter">-->
            <!--</div>-->
        </div>
    </div>
</div>

{% endblock %}

