{% extends "index.html" %}
{% load i18n bootstrap %}
{% block headernav %}
<ul class="nav navbar-nav">
    <li><a href="index">Home</a></li>
    <li><a href="about">About</a></li>
    <!--<li class="active"><a href="questions">Questions</a></li>-->
    <li><a href="contacts">Contacts</a></li>
</ul>
{% endblock %}
{% block carousel %}{% endblock %}
{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">Thank you {{ name }}. We will respond to provided email: {{ email }}
        as soon as possible!
    </div>
</div>
{% endblock %}