{% extends "index.html" %}
{% load i18n bootstrap %}
{% block headernav %}
{% load staticfiles %}
          <ul class="nav navbar-nav">
            <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="questions">Questions</a></li>
            <li class="active"><a href="contacts">Contacts</a></li>
          </ul>
         {% endblock %}
{% block carousel %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row moncho">
    <div class="col-md-2" align="middle">
    <p>
        </br>
    <img src="/media/Pfiffigsoft-logo.png" width="120px" height="120px">
     </p>
    </div>
    <div class="col-md-10 no-float">
    <p>
    <h3>Pfiffigsoft Ltd.</h3>
        <address>
            <strong></strong><br>
            <span class="glyphicon glyphicon-home"></span> Bulgaria, Sofia 1336<br>
            <span class="glyphicon glyphicon-earphone"></span> +359 883 38 60 62<br>
            <span class="glyphicon glyphicon-envelope"></span> <a href = "mailto:popov@pfiffigsoft.com">Simeon Popov</a>
        </address>
    </p>
    </div>
    </div>
    </div><!-- /.container -->
{% endblock %}