<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/media/Pfiffigsoft-logo.png">
    <title>Pfiffigsoft</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}"rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "custom/css/custom_style.css" %}"rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headerCol">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index">Pfiffigsoft</a>
        </div>
        <div class="navbar-collapse collapse pull-right" id="headerCol">
          {% block headernav %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="questions">Questions</a></li>
              <li><a href="contacts">Contacts</a></li>
          </ul>
         {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>


    {% block carousel %}
    <div class="container hidden-xs" id="caroulserContainer">
        <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
      </ol>
      <div class="carousel-inner">
        <!--<div class="item active">-->
          <!--<div class="container">-->
            <!--<div class="carousel-caption">-->
              <!--<img src="media/banner3.jpg" alt="Software development" class="img-responsive">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <div class="item active">

          <div class="container">
            <div class="carousel-caption">
              <a href="http://www.getlikesfrom.us"><img src="media/banner1.png" alt="Get likes from us" class="img-responsive"></a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <a href="http://www.webseoscanner.com"><img src="media/banner2.png" alt="Web seo scanner" class="img-responsive"></a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
  </div>
    {% endblock %}

   {% block content %}
  <div class="container">
    <div class="row moncho">
      <div class="col-md-4">
        <h3><!--<img src="{% static "custom/img/Pfiffigsoft-logo.png" %}" width="50px" height="50px">-->Development</h3>
        <p>"Pfiffigsoft" offers design and development of modern software systems
            based on the latest technologies. The company always strives to keep pace with dynamic
            area of IT industry.<br><br><br>
        </p>
        <a href="about" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Read More</a>
      </div>
      <div class="col-md-4">
        <h3><!--<img src="{% static "custom/img/Pfiffigsoft-logo.png" %}" width="50px" height="50px">-->Maintenance</h3>
        <p>"Pfiffigsoft" offers maintenance of software systems. This is one of the most important stages
            in the life cycle of a software product. This is the reason, the company strives to serve our customers
            in the highest quality way.<br><br><br>
        </p>
        <a href="about" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Read More</a>
      </div>
      <div class="col-md-4">
        <h3><!--<img src="{% static "custom/img/Pfiffigsoft-logo.png" %}" width="50px" height="50px">-->Consultation</h3>
        <p>"Pfiffigsoft" offers professional consulting for any kind of information systems. Depending
            on your needs and questions,the company makes a thorough
            analysis of the problem and can give the most objective proposals to solve it.<br><br>
        </p>
        <a href="about" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Read More</a>
      </div>
    </div>

  </div>

    {% endblock %}

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footerCol">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <p class="navbar-text"><a href="http://pfiffigsoft.com" target="_blank">Pfiffigsoft Ltd.</a></p>

        <div class="navbar-collapse collapse pull-right" id="footerCol">
            <a class="pull-right" href="https://twitter.com/simopopov" target="_blank"><img src="media/twitter.jpg" class="img-circle" alt="Twitter"></a>
            <a class="pull-right" href="http://www.linkedin.com/company/pfiffigsoft" target="_blank"><img src="media/linkedin.png" class="img-circle" alt="LinkedIn"></a>
            <a class="pull-right" href="https://plus.google.com/u/0/+SimeonPopov/posts" target="_blank"><img src="media/googleplus.png" class="img-circle" alt="Google Plus"></a>
            <a class="pull-right" href="https://www.facebook.com/pfiffigsoft" target="_blank"><img src="media/facebook-logo-white.png" class="img-circle" alt="Facebook"></a>
        </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56307540-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
