{% extends "index.html" %}
{% load i18n bootstrap %}
{% block headernav %}
<ul class="nav navbar-nav">
    <li><a href="index">Home</a></li>
    <li><a href="about">About</a></li>
    <li class="active"><a href="questions">Questions</a></li>
    <li><a href="contacts">Contacts</a></li>
</ul>
{% endblock %}
{% block carousel %}{% endblock %}
{% block content %}
<div class="container">
    {% if ok == False %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <form method='post' action="" enctype='multipart/form-data'>
        <fieldset>
            {{ form|bootstrap }}
            {% comment %}{% for field in form %}
            {% if field.is_hidden %}
            {{ field }}
            {% else %}
            <label for='id_{{ field.name }}'>{% trans field.label %}</label>{% if not field.field.required %} <span
                class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}
            {{ field }}
            {% if field.errors %}
            <dd class='error'>{{ field.errors }}</dd>
            {% endif %}
            {% if field.help_text %}
            <dd class='form_help_text'>{% trans field.help_text %}</dd>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endcomment %}

            <div class='buttons form-group'>
                <input type='submit' class="btn btn-primary" value='Submit'/>
            </div>
        </fieldset>

        {% csrf_token %}
    </form>

</div><!-- /.container -->
{% endblock %}