body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #E9EAED;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(233, 234, 237, .5) 0%, rgba(233, 234, 237, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(233, 234, 237, .5) 0%, rgba(233, 234, 237, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(233, 234, 237, .5)), to(rgba(233, 234, 237, .0001)));
  background-image:         linear-gradient(to right, rgba(233, 234, 237, .5) 0%, rgba(233, 234, 237, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(233, 234, 237, .0001) 0%, rgba(233, 234, 237, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(233, 234, 237, .0001) 0%, rgba(233, 234, 237, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(233, 234, 237, .0001)), to(rgba(233, 234, 237, .5)));
  background-image:         linear-gradient(to right, rgba(233, 234, 237, .0001) 0%, rgba(233, 234, 237, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.glyphicon.glyphicon-chevron-right, .glyphicon.glyphicon-chevron-left{
	color: #FFFFFF;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#caroulserContainer{
    padding-left: 0px;
    padding-right: 0px;
}

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #fff;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}
.carousel-inner p, h1{
  color: #000000 ;
}
.carousel-indicators .active {
  background-color: #46629E;
}
.carousel-indicators li{
  border-color: #415A8E;
}
.glyphicon.glyphicon-chevron-right, .glyphicon.glyphicon-chevron-left{
  color: #415A8E;
}
.navbar-default{
  background-color: #46629E;
}
.navbar-nav.nav>li>a{
  color: white;
}
.navbar-nav.nav>li.active>a{
  color: white;
  background-color: #415A8E;
}
.navbar-default .navbar-brand{
  color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #415A8E;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #415A8E;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #415A8E;
  }

.btn-primary{
  background-color: #46629E;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #415A8E;
  border-color: #415A8E;
}
.navbar-fixed-bottom .container p{
  color: white;
}
.moncho{
  background-color: white;
  padding-bottom: 20px;
}

.navbar-fixed-bottom .container a {
  margin-top: 6px;
  margin-right: 10px;
  color: white;
}

.main-carousel{
  text-shadow: none !important;
}